html, body {
    height: 100%;
}

body {
    background: linear-gradient(to right, white, Black);
}

.note {
    width: 400px;
    height: 300px;
    background-color: aqua;
    position: absolute;
}

.toolbar {
    text-align: right;
    height: 30px;
    background-color: black;
}

.delete {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    color: red;
}

.editable {
    background-color: crimson;
    width: 96%;
    margin: auto;
    margin-top: 3%;
    padding: 10px;
}